@model IEnumerable<chatService.Models.RequestInfo>

@{
    ViewBag.Title = "Chta Room Approval Details";
}
<div style="background-color: #277571;height: 360px;color: #092b29;" >
    <h3 style="text-align:center;margin-top: 0px;padding: 10px 5px;">
    Chta Room Approval Details</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReqDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })  &raquo;
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
